*{
    margin: 0;
    padding: 0;
}

:root {
    --black:#000000;
    --white: #FFFFFF;
    --light: #C7C7C7;
    --text: #777676;
    --vinotinto: #63174A;
    --sm:12px;
    --md :16px;
    --lg :18px;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container-contacto{

    display: grid;
    place-content: center;
    
}


.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.contacto{
    margin-bottom: 2rem;
    font-size: 1.6em;
    
}

.formulario input {
    padding: .5rem;
    width: 18rem;
    border-radius: .5rem;
    border: 2px solid var(--vinotinto);
}

.formulario input:focus {
    outline: 0;
    border: 1px solid var(--light);
    outline: 1px solid var(--light);
}

.agregar-al-carrito, .enviar {
    font-weight: bold;
    font-size: var(--lg);
    color: var(--white);
    width: 19rem;
    height: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}