*{
    margin: 0;
    padding: 0;
}

:root {
    --black:#000000;
    --white: #FFFFFF;
    --light: #C7C7C7;
    --text: #777676;
    --vinotinto: #63174A;
    --sm:12px;
    --md :16px;
    --lg :18px;
}

body{
    font-family: 'Poppins', sans-serif;
}



.menu{
    display: none;
}

.logo{
    width: 76px;
    
}

/* header{
    /* border-bottom: 1px solid var(--light);  */


nav {
    display: flex;
    justify-content: space-between;   
    padding: 0 24px;
}

.navbar-left ul,
.navbar-right ul {
    list-style : none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

}

.navbar-left{
    display: flex;

}

.navbar-right{
    display: flex;

}

.navbar-left ul{
    margin-left: 32px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--vinotinto);
    border:  1px solid white;
    padding: 12px;
    border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    text-decoration: none;    
    border:  1px solid var(--light);
    padding: 2px;
}

.navbar-usuario{
    color: var(--vinotinto);
    margin-right: 12px;
}


@media(max-width:640px){
    .menu{
        display: block;
        width: 40px;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-usuario{
        display: none;
    }
}