* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --light: #C7C7C7;
    --verde: #00D8BC;
    --text: #777676;
    --vinotinto: #63174A;
    --sm: 12px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.active {
    background-color: var(--verde);

}

nav {
    background-color: var(--vinotinto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;

}

nav .title {
    color: var(--verde);
    font-size: 1.5rem;
    margin: 1rem;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: var(--white);
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:hover {
    background-color: var(--verde);
}

nav ul li :last-child a:hover {
    background-color: var(--white);
}

nav .menu {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: var(--verde);
    border-radius: 0.2rem;
}


@media(max-width:790px) {

    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }

    .active {
        background-color: var(--vinotinto);

    }

    nav ul li a:hover {
        background-color: var(--vinotinto);
        color: var(--verde);
    }

    nav ul li :last-child a:hover {
        background-color: var(--vinotinto);
        color: var(--white);
    }

}
