* {
    margin: 0;
    padding: 0;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --light: #C7C7C7;
    --text: #777676;
    --verde: #00D8BC;
    --vinotinto: #63174A;
    --sm: 12px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.footer {
    margin-top: auto;
    background-color: var(--vinotinto);
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.footer,
p {
    color: var(--white);
    height: 26p;
}

.active-footer {
    display: block;
}

@media(max-width:790px) {
    .active-footer {
        display: none;
    }

    .footer {

        background-color: var(--vinotinto);
        display: flex;
        justify-content: center;
        align-items: center;



    }


}
