*{
    margin: 0;
    padding: 0;
}

:root {
    --black:#000000;
    --white: #FFFFFF;
    --light: #C7C7C7;
    --text: #777676;
    --vinotinto: #63174A;
    --sm:12px;
    --md :16px;
    --lg :18px;
}


