*{
    margin: 0;
    padding: 0;
}

:root {
    --black:#000000;
    --white: #FFFFFF;
    --light: #C7C7C7;
    --text: #777676;
    --vinotinto: #63174A;
    --sm:12px;
    --md :16px;
    --lg :18px;
}

body{
    font-family: 'Poppins', sans-serif;
}


p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
 
    color: var(--vinotinto);
    font-size: 40px;
    
}